h1 {
    font-size: 50px;
    color: blue;
}

body {
    background-color: greenyellow;
}

.poisk {
    font-size: 20px;
}

.poiskknopka {
    font-size: 20px;
}

.youtube {
    font-size: 30px;
}

@media screen {
    
}